<%- include('./partials/head') %>

</head>

<body class="body-detalle">
    <%- include('./partials/header') %>

    <div class="uk-container">
        <div class="uk-section">

            <h1 class="uk-text-center"><%= title %> </h1>


            <div class="comentarios uk-flex uk-flex-center uk-margin-large-top">
                <ul class="uk-flex uk-flex-wrap uk-flex-between uk-child-width-1-3 uk-padding-remove">
                    <% for( let i = 0; i < productos.length; i++ ) { %>
                        <li class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin">
                          <a href="/productos/detalle/<%= productos[i].id %>"  class="uk-link-text">
                            <img src="<%= productos[i].img_url %>" alt="" width="100%">
                            <h5 class="uk-text-center"><%= productos[i].nombre %></h5>
                            <p class="uk-text-center">U$D <%= productos[i].precio %></p>
                            <p class="uk-text-center"><%= productos[i].marca %></p>
                          </a>
                        </li>  
                    <% } %>
                </ul>
            </div>






        </div>
    </div>




</body>

</html>